section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: paged-y-controls;
//todo hide scrollbar
}
.base_top {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
}
.base_top>button {
    position: center;
    height: 30%;
    justify-content: center;
    font:  normal normal normal 20px/30px Segoe UI;
}
section>div {
    color: #FFFFFF;
    background: #38383C 0 0 no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
section>div>h2 {
    text-align: center;
}
section>div>.info {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
    padding: 0 1em;
}
section>div>.last_opened {
    text-align: right;
    margin-right: 1em;
    margin-bottom: 1em;
}
